* {
	margin: 0;
	padding: 0;
}

body {
	background: #662C14 url(images/img01.gif) repeat-x;
	text-align: justify;
}

body, input, textarea, select {
	font: normal small "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #666666;
}

h1, h2, h3 {
	margin-bottom: 1em;
	font-weight: normal;
	color: #333333;
}

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 1.7em;
}

h3 {
	font-size: 1.3em;
}

p, blockquote, ul, ol, form {
	margin-bottom: 1.5em;
}

blockquote, ul, ol {
	margin-left: 3em;
}

blockquote {
	margin-right: 3em;
	font-style: italic;
}

ul {
	list-style-type: square;
}

a {
	color: #3366FF;
}

a:hover {
	text-decoration: none;
	color: #FF6600;
}

hr {
	display: none;
}

.hr {
}

img.left {
	float: left;
	margin: 0 15px 15px 0;
}

img.right {
	float: right;
	margin: 0 0 15px 15px;
}

/* Wrapper */

#wrapper {
	width: 750px;
	margin: 0 auto;
	background: url(images/img02.gif) no-repeat;
}

/* Header */

#header {
	width: 740px;
	height: 190px;
	padding: 5px;
	background: url(images/img03.jpg) no-repeat 50% 5px;
}

#header h1, #header h2 {
	margin: 0;
	text-transform: lowercase;
	font-weight: bold;
}

#header h1 {
	padding: 100px 0 0 20px;
	letter-spacing: -2px;
	font-size: 3em;
}

#header h2 {
	margin-top: -5px;
	padding: 0 0 0 22px;
	font-size: 1em;
}

#header a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Content */

#content {
	background: #FFFFFF url(images/img04.gif) repeat-y;
}

/* Blog */

#blog {
	float: left;
	width: 520px;
	margin-top: -5px;
	padding-left: 5px;
}

/* Post */

.post {
}

.post .title {
	height: 40px;
	margin: 0;
	padding: 7px 0 0 15px;
	background: url(images/img06.gif) repeat-x;
}

.post .title a {
	text-decoration: none;
	color: #FFFFFF;
}

.post .title a:hover {
	text-decoration: underline;
}

.post .date {
	margin-top: -30px;
	padding-right: 15px;
	text-align: right;
	font: bold x-small Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

.post .entry {
	padding: 20px 15px 10px 15px;
	background: url(images/img07.gif) repeat-x;
	line-height: 1.8em;
}

.post .meta {
	margin-bottom: 2em;
	padding: 0 15px;
	text-align: right;
	font-size: x-small;
}

.fList {
line-height:1.5em;
}

.fList .title {
	height: 40px;
	margin: 0;
	padding: 7px 0 0 15px;
	background: url(images/img06.gif) repeat-x;
	color:#ffffff;
}

.fList #a_list .descTD {
padding: 5px 0px;
background-color:#DEDEDE;
border:#000000 solid 1px;
}

#listings {
line-height:1.5em;
}

#listings .imgL {
background-color:#ffffff;
position:relative;
float:left;
width:200px;
text-align:center;
border: #000000 solid 1px;
padding:5px 5px 0px 5px;
}

#listings img {
padding:0px;
margin:0px;
}

#listings .infoL {
position:relative;
width:250px;
float:right;
}

#listings .infoL .titleL {
font-weight:bold;
}

#listings .evenTR {
background-color:#FFFFFF;
}
#listings .oddTR {
background-color:#E6E6E6;
}

#propView {
line-height:1.5em;
}

#propView #propImg {
float:left;
width:275px;
border:#000 solid 1px;
}

#propView #propImg #mainImg {
float:left;
width:200px;
padding:5px;
}

#propView #propImg #linksImg {
float:left;
widows:50px;
padding:5px;
}

#propView #propTitle {
float:right;
width:200px; 
}

#propAttributes #Att1 {
float:left;
width:50%;
}

#propView #propDesc {
border-bottom:#DEDEDE solid 2px;
}

#propAttributess #Att2 {
float:right;
width:50%;
}

#propSep {
clear:both;
border-top:#DEDEDE solid 2px;
height:10px;
font-size:10px;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 220px;
	margin-top: -5px;
}

#sidebar ul {
	margin: 0;
	list-style: none;
}

#sidebar li {
}

#sidebar li ul {
	margin: 0 5px;
	padding: 15px 15px 15px 30px;
	background: url(images/img07.gif) repeat-x;
	list-style-type: square;
}

#sidebar li li {
}

#sidebar h2 {
	height: 29px;
	margin: 0;
	padding: 24px 5px 0 20px;
	background: url(images/img08.gif) no-repeat;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: bold;
	color: #FFFFFF;
}

#sidebar a {
	text-decoration: none;
}

/* Search */

#search {
}

#search h2 {
	height: 27px;
	padding-top: 13px;
	background-position: left bottom;
}

#search form {
	margin-left: 5px;
	margin-right: 5px;
	padding: 15px 15px 0 15px;
	background: url(images/img07.gif) repeat-x;
}

#search #inputtext1 {
	width: 110px;
	padding: 1px 2px;
	background: url(images/img5.gif) repeat-x;
	border: 1px solid #C4C3C4;
}

#search #inputsubmit1 {
	background: url(images/img6.gif) repeat-x left bottom;
	border: 1px solid #C4C3C4;
}

/* Archives */

#archives {
}

/* Categories */

#categories {
}

/* Blogroll */

#blogroll {
}

/* Meta */

#meta {
}

/* Footer */

#footer {
	background: url(images/img05.gif) no-repeat;
}

#footer p {
	margin: 0;
	padding: 5px 10px;
	font-size: x-small;
	color: #FFFFFF;
}

#footer a {
	color: #FFFFFF;
}

.error {
font-size:14px;
font-weight:bold;
color:#ff0000;
padding:10px 10px;
text-align:left;
}

.user {
text-align:right;
font-style:oblique;
border-bottom:#dedede solid 2px;
margin-bottom: 5px;
font-size: 14px;
font-weight:bold;
}

#a_list {
}
#a_list .headTR {
}
#a_list .headTD {
font-size:14px;
font-weight:bold;
border-bottom:#dedede solid 2px;
text-align:left;
}
#a_list .unameTD {
font-weight:bold;
font-style:italic;
text-align:left;
}
#a_list .nameTD {
}
#a_list .emailTD {
font-style:italic;
text-align:left;
}
#a_list .titleTD {
font-weight:bold;
font-style:italic;
text-align:left;
}
#a_list .descTD {
font-size:11px;
text-align:left;
}
#a_list .addTD {
font-size:11px;
font-style:italic;
text-align:left;
}
#a_list .priceTD {
font-weight:bold;
font-size:13px;
text-align:left;
}
#a_list .actTD {
text-align:center;
}
#a_list .evenTR {
background-color:#FFFFFF;
}
#a_list .oddTR {
background-color:#E6E6E6;
}
.manImgTitle {
font-size:14px;
font-weight:bold;
text-align:left;
}

#Plinks {
text-align:right;
}

.SearchTitle {
font-size:14px;
font-style:oblique;
border-bottom:#DEDEDE solid 2px;
}