<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title><!--title--></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="<!--TEMPS-->default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<h1><a href="<!--WWW-->">phpRealty v0.03 </a></h1>
		<hr />
	</div>
	<div id="content">
		<div id="blog">
		<!-- end header -->
		
		<!--content-->
		
		<!-- start footer -->
        </div>
		<!-- end #blog -->
		<div id="sidebar">
			<ul>
				<li id="search">
					<h2>Navigation</h2>
					<!--navigation-->
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both; height: 1px;"></div>
	</div>
	<!-- end #content -->
	<div id="footer">
		<p><!-- Copyright &copy; 2007 Hot Spring. Designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>. --></p>
	</div>
</div>
<!-- end #wrapper -->
</body>
</html>
